# Compilados (Java class files)
*.class
*.log
*.ctxt

# Pacotes (Arquivos que não devem ser versionados)
*.jar
*.war
*.ear

# Pastas de Build e Bibliotecas locais
bin/
lib/
out/
target/

# Configurações do IntelliJ (arquivos .idea e .iml)
.idea/
*.iml

# Configurações do VS Code
.vscode/
sources.txt/
sc.ps1/
# Arquivos de sistema
.DS_Store
Thumbs.db